/* General */

@font-face {
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/leaguespartan/v4/kJEqBuEW6A0lliaV_m88ja5TwvZwLZmXD4Zh.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/leaguespartan/v4/kJEqBuEW6A0lliaV_m88ja5TwvZwLZmXD4Zh.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

body {
  font-family: "League Spartan", sans-serif;
  font-size: 16px;
  font-weight: 400;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  animation: fadeIn 1s;
}

footer {
  font-size: 12px;
  text-align: center;
  padding-bottom: 10px;
}

/* Index */

.video__container {
  padding: 56.25% 0 0 0;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Impressum + Datenschutz */

#impressum,
#datenschutz {
  padding: 10px;
}

.back-button {
  position: fixed;
  font-weight: 700;
  width: 65px;
  height: 65px;
  bottom: 30px;
  right: 30px;
  background-color: darkgrey;
  border: none;
  box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.281);

  &:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.25s;
  }

  a {
    text-decoration: none;
    color: black;
  }
}

/* Utility */

.separator {
  &::before,
  &::after {
    content: " ";
  }
}

.link {
  border: none;
  background: none;
  text-decoration: underline;
  padding: 0;

  &:hover {
    cursor: pointer;
  }

  a {
    color: black;

    &:visited {
      color: black;
    }
  }
}

/* Animationen */

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
